/*
 * Custom Pioneer styling for the default VitePress theme
 */

:root:not(.dark) {
    --vp-c-brand-1: #4747B8;
    --vp-c-brand-2: #1c214d;
    --vp-c-brand-3: #3646A1;
    --vp-c-brand-4: #6477D8;

    /* tweak sidebar colors slightly darker */
    --vp-c-bg-alt: #efefef;
    --vp-c-text-2: rgba(60, 60, 60, 0.8);
}

:root.dark {
    --vp-c-brand-1: #8792f9;
    --vp-c-brand-2: #a1a9ff;
    --vp-c-brand-3: #5863c7;
    --vp-c-brand-4: #3b469c;
}

/* invert hover behavior of branded buttons */
:root {
    --vp-button-brand-bg: var(--vp-c-brand-3);
    --vp-button-brand-hover-bg: var(--vp-c-brand-4);
}

/* Site title animates towards brand color rather than fades out */
:root .title {
    transition: color 0.25s;
}
:root .title:hover {
    color: var(--vp-c-brand-1);
    opacity: 1.0;
}
