/*
 * Custom Pioneer styling for the default VitePress theme
 */

:root:not(.dark) {
    --vp-c-brand: #3b469c;
    --vp-c-brand-light: #545fbf;
    --vp-c-brand-lighter: #7782e5;
    --vp-c-brand-dark: #2f3673;
    --vp-c-brand-darker: #1c214d;

    /* tweak sidebar colors slightly darker */
    --vp-c-bg-alt: #efefef;
    --vp-c-text-2: rgba(60, 60, 60, 0.8);
}

:root.dark {
    --vp-c-brand: #8792f9;
    --vp-c-brand-light: #a1a9ff;
    --vp-c-brand-lighter: #b3baff;
    --vp-c-brand-dark: #545fbf;
    --vp-c-brand-darker: #3b469c;

    /* invert hover behavior of dark theme branded buttons */
    --vp-button-brand-bg: var(--vp-c-brand-dark);
    --vp-button-brand-border: var(--vp-c-brand-dark);
    --vp-button-brand-hover-bg: var(--vp-c-brand-darker);
    --vp-button-brand-hover-border: var(--vp-c-brand-darker);
}

/* Site title animates towards brand color rather than fades out */
:root .title {
    transition: color 0.25s;
}
:root .title:hover {
    color: var(--vp-c-brand);
    opacity: 1.0;
}

/* light theme links get darker when hovered */
:root:not(.dark) .vp-doc a:hover {
    color: var(--vp-c-brand-darker);
}

/* dark theme links get lighter when hovered */
:root.dark .vp-doc a:hover {
    color: var(--vp-c-brand-lighter);
}
